@import "nodeca.core/client/common/_variables"

.search-form
  background-color $decorator-color + 50%
  border-radius .25rem

.search-form__input-container
  padding 1rem 1.25rem .5rem

.search-form__meta
  display block
  font-size $font-size-sm
  margin-top .25rem

.search-form__options-toggle
  color $body-color-secondary !important

.search-form__submit
  background-color white
  color $body-color

.search-form__options-inner
  border-top 1px solid ($body-color-secondary + 60%)
  padding 1rem 1.25rem

//
// Filter under form
//
.search-filter
  display inline-flex
  line-heght 1.25
  border 1px solid ($decorator-color - 2%)
  border-radius 4px
  background-color white - 0.75%

.search-filter__title
  padding .25rem 0 .25rem .75rem

.search-filter__remove
  padding .25rem 1rem
  color $body-color-secondary

//
//
//
.search-form + .search-filter
  margin-top 1rem

.search-filter + .search-results
  margin-top 1.625rem

.search-form + .search-results
  margin-top 1.625rem

