@import "nodeca.core/client/common/_variables"

.search-general .page-head
  margin-bottom 1rem

.search-general__form
  background-color $decorator-color + 50%
  border-radius .25rem

.search-general__form-submit
  background-color white
  color $body-color

.search-general__form-options-link
  display block
  font-size $font-size-sm
  margin-top .25rem
  color $body-color-secondary !important

.search-general__form-input-container
  padding 1rem 1.25rem .5rem

.search-general__form-options-container
  //border-top 1px solid ($decorator-color)
  border-top 1px solid ($body-color-secondary + 60%)
  padding 1rem 1.25rem

.search-general__results
  margin-top 1.5rem

.search-general__count
  color $gray-light

  &:after
    content ' '

// styles for search results (forum_topics, forum_posts)
.search-general__item
  margin-top 2rem

.search-general__title
  color $body-color
  font-size 1.5rem

.search-general__info
  color $body-color-secondary
  list-style none
  margin 0
  padding 0

.search-general__info-item
  display inline-block

.search-general__info-link
  color $body-color-secondary

.search-general__info-item:before
  content '|'
  margin 0 0.5em 0 0.5em

.search-general__info-item:first-child:before
  content ''
  margin 0

.search-general__info-avatar
  width 16px
  height 16px
  margin 0px 3px
  border-radius 2px
  box-shadow 0 0 1px $body-color-secondary
