@import "nodeca.core/client/common/_variables"

.search-general__buttons
  margin-left 0.5rem

.search-general__results
  margin-top 1.5rem

.search-general__count
  color $gray-light

  &:after
    content ' '
