article#content.search-general
  != self.partial('@common.blocks.navbar.logo_apps')

  .layout__container.container-fluid.space-top._affix(
    data-affix-bottom={
      offset:     500,
      wire_below: 'search.general:load_next',
      throttle:   100
    }
  )
    != self.partial('@users.blocks.announces')

    form.form-inline(data-on-submit='search.general:search')
      input.form-control.col-10(type='text', name='query', value=self.query)
      input(type='hidden', name='type', value=self.type || self.content_types[0])

      .search-general__buttons.btn-group(role='group')
        button.btn.btn-secondary.icon.icon-search(type='submit')
        button.btn.btn-secondary.icon.icon-expand(type='button')

      select.form-control.custom-select(name='sort')
        each type, i in self.sort_types
          option(value=type, selected=(self.sort === type))= self.t('sort.' + type)

      select.form-control.custom-select(name='period')
        each type, i in self.period_types
          option(value=type, selected=(self.period === type))= self.t('period.' + type)

    .search-general__results
      //- this gets replaced by 'results' partial when search is performed
