.search-results
  .search-results__nav.nav.nav-tabs-underlined
    each tab in self.tabs
      a.nav-link(
        href=tab.link
        class=(self.type === tab.type ? 'active' : '')
      )
        = self.t('@search.general.menu.' + tab.type)
        span.search-results__tab-counter= '(' + tab.count + ')'

  .search-results__list
    != self.partial('@search.general.' + self.type)
